{{#each erros}}
    <div class="alert alert-danger">{{msg}}</div>
{{else}}

{{/each}}
<div class="card mt-2">
    <div class="card-body">
        <h2>Editar postagem</h2>
        

        <form action="/admin/postagem/edit" method="POST">
        <input type="hidden" name="id" value="{{postagem._id}}">
            <label for="titulo" class="mt-2">Título:</label>
            <input type="text" name="titulo" class="form-control" required value="{{postagem.titulo}}">

            <label for="slug" class="mt-2">Slug:</label>
            <input type="text" name="slug" class="form-control" required value="{{postagem.slug}}">

            <label for="descricao" class="mt-2">Descrição:</label>
            <textarea type="text" name="descricao" class="form-control" style="min-height: 100px;" required>{{postagem.descricao}}</textarea>

            <label for="conteudo" class="mt-2">Conteúdo:</label>
            <textarea name="conteudo" class="form-control" style="min-height: 200px;" required>{{postagem.conteudo}}</textarea>

            <label for="categoria">Categoria:</label>
            <select name="categoria" class="form-control" required>
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>
                {{else}}
                    <option value="0" disabled selected hidden >Nenhuma categoria registrada.</option>
                {{/each}}
            </select>
            
            <button class="btn btn-success mt-4" type="submit">Editar postagem</button>
        </form>
    </div>
</div>