{{#each erros}}
    <div class="alert alert-danger">{{msg}}</div>
{{else}}

{{/each}}
<h3>Editar categoria</h3>
<div class="card mt-4">
    <div class="card-body">
        <form action="/admin/categorias/edit" method="POST">
            <input type="hidden" name="id"  value="{{categoria._id}}">
            <label for="nome">Nome: </label>
                <input class="form-control"type="text" id="nome" name="nome" placeholder="Nome da categoria" value="{{categoria.nome}}">
            <label for="slug" class="mt-2">Slug: </label>
                <input class="form-control" type="text" name="slug" id="slug" placeholder="Slug da categoria" value="{{categoria.slug}}">
            <button class="btn btn-success mt-4" type="submit">Editar categoria</button>
        </form>
    </div>
</div>